<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NXBundleIdentifier</key>
	<string>com.fahad.UnBoxer</string>
	<key>NXBundleInfo</key>
	<dict>
		<key>CFBundleExecutable</key>
		<string>$(NXExecutable)</string>
		<key>CFBundleIdentifier</key>
		<string>$(NXBundleIdentifier)</string>
		<key>CFBundleName</key>
		<string>$(NXDisplayName)</string>
		<key>CFBundleShortVersionString</key>
		<string>$(NXBundleShortVersion)</string>
		<key>CFBundleVersion</key>
		<string>$(NXBundleVersion)</string>
		<key>MinimumOSVersion</key>
		<string>$(NXDeploymentTarget)</string>
		<key>UIDeviceFamily</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<key>UIRequiresFullScreen</key>
		<false/>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>NSLocalNetworkUsageDescription</key>
		<string>Unboxer needs access to the local network to securely communicate with the loopback VPN.</string>
	</dict>
	<key>NXBundleShortVersion</key>
	<string>1.0</string>
	<key>NXBundleVersion</key>
	<string>1.0</string>
	<key>NXClangFlags</key>
	<array>
		<string>-target</string>
		<string>arm64-apple-ios$(NXDeploymentTarget)</string>
		<string>-isysroot</string>
		<string>$(SDKROOT)</string>
		<string>-resource-dir</string>
		<string>$(BSROOT)/Include</string>
		<string>-L$(BSROOT)/lib</string>
		<string>-lclang_rt.ios</string>
		<string>-fobjc-arc</string>
		<string>-framework</string>
		<string>Foundation</string>
		<string>-framework</string>
		<string>UIKit</string>
	</array>
	<key>NXDeploymentTarget</key>
	<string>26.5</string>
	<key>NXDisplayName</key>
	<string>UnBoxer</string>
	<key>NXExecutable</key>
	<string>UnBoxer</string>
	<key>NXLinkerFlags</key>
	<array/>
	<key>NXOrganizationPrefix</key>
	<string>com.fahad</string>
	<key>NXOutputPath</key>
	<string>$(CACHEROOT)/Payload/$(NXDisplayName).app/$(NXExecutable)</string>
	<key>NXProjectFormat</key>
	<string>NXAvixR2</string>
	<key>NXProjectScheme</key>
	<string>Application</string>
	<key>NXSignMachOWithNyxianEntitlements</key>
	<true/>
	<key>NXSwiftFlags</key>
	<array>
		<string>-target</string>
		<string>arm64-apple-ios$(NXDeploymentTarget)</string>
		<string>-Xllvm</string>
		<string>-aarch64-use-tbi</string>
		<string>-Xfrontend</string>
		<string>-enable-objc-interop</string>
		<string>-sdk</string>
		<string>$(SDKROOT)</string>
		<string>-resource-dir</string>
		<string>$(BSROOT)/swift</string>
		<string>-module-cache-path</string>
		<string>$(BSROOT)/ModuleCache</string>
		<string>-parse-as-library</string>
	</array>
</dict>
</plist>
